.button {
  border-radius: 0%;
  font-weight: 600;
  border-color: transparent;
  background-color: #ae431e;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: auto;
  width: 40%;
  border-radius: 6.5px;
}

.button:hover {
  background-color: #ae431e;
}

.content-link-right {
  margin-top: 5px;
  margin: auto;
  font-weight: 700;
  font-size: 10pt;
  color: black;
}

.login-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #efebe0;
  border-radius: 14.5px;
  margin: auto;
  width: 35%;
  border: 1px solid #efebe0;
}

.header {
  margin-bottom: 35px;
}

.content-no-margin {
  margin-bottom: 3px;
}

.login_logo_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25dvh;
  height: 25dvh;
}

.form-group-element {
  margin-bottom: 25px;
}

.form-control {
  font-size: 11pt;
  margin-left: 25%;
  width: 55%;
  margin-right: auto;
  background: transparent;
  border: transparent;
  border-bottom: 2px solid #333333;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.form-control:focus {
  font-size: 12pt;
  overflow: hidden;
  font-weight: 600;
  background: transparent;
  border: 0.5px solid #333333;
  margin-bottom: 35px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
